*{
    box-sizing: border-box;
    font-family: Comfortaa;
}

/* Main Body Styling */
body{
    background-color: rgb(211, 217, 226);
}

.container{
    margin: 10px auto;
}
/* <!-- Main Page Header --> */
.main-page-header{
    padding: 10px 0px;
}

/* <!-- Company Name --> */
.main-page-header .company-name{
    font-weight: 600;
    color: white;
}

/* <!-- Navigation --> */
.navigation{
    /* border: 1px solid white; */
    margin-left: 20px;
}

.navigation li{
    display: inline-block;
    list-style-type: none;
    margin: 0px 15px;
}

.navigation li a{
    color: white;
    text-decoration: none;
}

/* <!-- Display Name --> */
.display-name {
    font-weight: 600;
}